{% load static %}
<html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Proyecto Cloud</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
    <h1>BIENVENIDO A GRADER</h1>
    <form>
        <div class="autenticacion">

            <h2>USUARIO:</h2>
            <input type="" id="USUARIO">
            <br>
            <h2>CLAVE:</h2>
            <input type="password" id="password">
            <br>
            <br>
        </div>
        <input class="Boton" type="submit" value="Enviar">
    </form>
    <br>
    <br>
    <br>
    <img src="img/AWS.jpg" alt="AWS" width="150">
    <img class="usta" src="img/LOGO_USTA_AZUL.png" alt="Logo usta">
    <br>
    <a href="profesor" target="_blank">Ver como profesor</a>
    <br>
    <a href="admin.html" target="_blank">Ver como admin</a>
    <br>
    <a href="estudiante.html" target="_blank">Ver como estudiante</a>
    <br>
</body>

</html>