{% extends "app/base.html" %} {% load static %} {%block css%}
<link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
<link rel="stylesheet" href="{% static 'app/css/estilocrearestudiante.css' %}"> {%endblock%} {%block titulo%} Editar Estudiante como admin {%endblock%} {%block body%}
<h1> EDITAR ESTUDIANTE</h1>
<hr>
<br>
<img src="{% static 'app/img/profilephoto.png' %}" alt="profilephoto" width="180">
<img src="{% static 'app/img/LOGO_USTA_AZUL.png' %}" alt="Logo" class="logoustagrupo" width="200">

<div class="admincreargrupo">
    <a href="{% url 'app:cerrarsesion' %}">
        <input class="cerrargrupo" type="submit" value="Cerrar Sesión">
    </a>
    <form action="{% url 'app:editarestudianteForm' estudianteenviado.usuario_id %}" method="POST">
        {% csrf_token %}

        <label for="asignaturain" id="lblasignatura">Código* </label>
        <input type="text" id="asignaturain" name="codigo" value="{{estudianteenviado.codigo}}" class="inasignatura">
        <br>
        <br>
        <label for="semestrein" id="lblsemestre">Apellidos* </label>
        <input type="text" id="semestrein" name="apellidos" value="{{estudianteenviado.usuario.last_name}}" class="insemestre">
        <br>
        <br>
        <label for="profesorin" id="lblprofesor">Nombres* </label>
        <input type="text" id="profesorin" name="nombre" value="{{estudianteenviado.usuario.first_name}}" class="inprofesor">
        <br>
        <br>

        <label for="cantidadin" id="lblcantidad">Email* </label>
        <input type="text" id="cantidadin" name="correo" value="{{estudianteenviado.usuario.email}}" class="incantidad">
        <input class="enviarGrupo" type="submit" value="Guardar">

    </form>
</div>
<br>

</form>
{%endblock%}