{% extends "app/base.html" %} {% load static %} {%block css%}
<link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
<link rel="stylesheet" href="{% static 'app/css/estiloGrupoEstudiante.css' %}"> {%endblock%} {%block titulo%} Notas grupo {%endblock%} {%block body%}
<div id="titulo">
    <h1>Notas de un grupo </h1>
    <hr>
</div>
<div class="Datos">
    <div class="FotoPerfil">
        <img src="{% static 'app/img/profilephoto.png' %}" alt="profilephoto" width="180">

    </div>
    <div class="nombres">

        Semestre: {{estudiantegrupo.grupo.semestre}}<br> Asignatura: {{estudiantegrupo.grupo.asignatura}} <br> Profesor: {{estudiantegrupo.grupo.profesor}}
    </div>
    <div class="cerrarsesion1">
        <a href="{% url 'app:cerrarsesion' %}">
            <input class="cerrarsesion" type="submit" value="Cerrar Sesión">
        </a>
    </div>
</div>
<h2 style="color: wheat;">
</h2>
<class class="tabla">
    <table id="tablagrupos" border="1">
        <tr>
            <th>Descripción Actividad</th>
            <th>Nota</th>
        </tr>
        {%for ver in estudiantegrupo.notasestudiante.all %}
        <tr>
            <td>{{ver.actividad.descripcion}}</td>
            <td>{{ver.valor}}</td>
            <!-- {%for ver2 in ver.notasactividad.all%}
            <td>{{ver2.valor}}</td>
            {%endfor%} -->
        </tr>
        {%endfor%}

    </table>



    </div>
    {%endblock%}